<!-- wp:template-part {"slug":"header","theme":"event-management-blocks","tagName":"header"} /-->

<!-- wp:pattern {"slug":"event-management-blocks/banner"} /-->
<!-- wp:pattern {"slug":"event-management-blocks/services-section"} /-->

<!-- wp:pattern {"slug":"event-management-blocks/about-us-section"} /-->

<!-- wp:pattern {"slug":"event-management-blocks/testimonials-section"} /-->

<!-- wp:pattern {"slug":"event-management-blocks/faq-section"} /-->

<!-- wp:pattern {"slug":"event-management-blocks/news-section"} /-->

<!-- wp:template-part {"slug":"footer","theme":"event-management-blocks","tagName":"footer"} /-->